<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Final Settlement Invoice</title>

    <style>

        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            font-family: Arial, sans-serif;
            font-size:12px;
            color:#222222;
            padding:20px;
        }

        .invoice-container{
            border:1px solid #D7DAE0;
            border-radius:8px;
            padding:15px;
        }

        .heading{
            text-align:center;
            font-size:16px;
            font-weight:500;
            margin:15px 0;
        }

        .border-table{
            border:1px solid #D7DAE0;
            border-radius:8px;
        }

        .section-header{
            background:#F9F9F9;
            border-top:1px solid #E5E7EB;
            border-bottom:1px solid #E5E7EB;
            font-weight:500;
            text-transform:uppercase;
            padding:10px;
            font-size: 10px;
        }

        .label{
            color:#4B4B4B;
            font-size:9px;
        }

        .value{
            color:#171717;
            font-weight:600;
            font-size:11px;

        }

        .item-title{
            font-size:11px;
            font-weight:500;
            color:#1A1C21;
        }

        .item-description{
            color:#6B7280;
            font-size:10px;
            line-height:20px;
        }

        .amount{
            text-align:right;
            font-size:10px;
            font-weight:500;
        }

        .summary-table td{
            padding:6px 0;
        }

        .total-row{
            border-top:1px solid #E5E7EB;
            font-size:15px;
            font-weight:500;
        }

        .signature{
            width:130px;
            height:60px;
        }

        .qr-code{
            width:150px;
        }

        .terms{
            margin-top:15px;
            font-size:11px;
        }

    </style>

</head>

<body>

<div class="invoice-container">


    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>

            <td width="45%" valign="top">

                <img

                        th:src="${invoice.headerInfo.hostelImage ?: invoice.configInfo.hostelLogo}"
                        alt="Logo"
                        style="max-width:134px;" />

                <div style="margin-top:10px; font-size: 10px;"
                     th:text="${invoice.configInfo.emailId}"> test@gmail.com
                </div>

                <div
                        style="margin-top:5px;font-size:10px;"
                        th:text="${'+' + invoice.headerInfo.countryCode + ' ' + invoice.headerInfo.phoneNumber}">
                    +91 2565845857
                </div>

            </td>

            <td width="55%" valign="top" align="right">

                <div style="font-size:14px;font-weight:500;"

                >
                </div>

                <div style="margin-top:5px; font-size:10px;"
                     th:text="${invoice.headerInfo.houseNo} + ' ' +
              ${invoice.headerInfo.street} + ', ' +
              ${invoice.headerInfo.city} + ', ' +
              ${invoice.headerInfo.state} + ' - ' +
              ${invoice.headerInfo.pincode}">
                </div>

                <div style="margin-top:5px; font-size: 10px;" th:text="${invoice.headerInfo.gstNumber}">
                    GST IN : XXXXXXXXXX
                </div>

            </td>

        </tr>
    </table>



    <div class="heading">
        Final Settlement Invoice
    </div>



    <table width="100%" cellpadding="5" cellspacing="0">

        <tr>

            <td width="50%" valign="top">

                <div style="font-weight:500;margin-bottom:10px; font-size: 10px;">
                    Billed To:
                </div>


                <div class="value"
                     th:text="${invoice.customerInfo.fullName}">
                </div>
                <div style="margin-top:5px; font-size:10px;"
                     th:text="${invoice.stayInfo.floorName} + ', ' +
              ${invoice.stayInfo.roomName} + ', ' +
              ${invoice.stayInfo.bedName}">

                </div>

                <div style="margin-top:5px; font-size: 10px;"
                     th:text="${invoice.customerInfo.address}">
                </div>

                <div style="margin-top:5px; font-size: 10px;"
                     th:text="${invoice.customerInfo.mobile}">
                </div>

            </td>

            <td width="50%" valign="top">

                <table align="right">

                    <tr>
                        <td class="label">Invoice :</td>
                        <td style="font-size:10px;"
                            th:text="${invoice.invoiceInfo.invoiceNo}">

                        </td>
                    </tr>

                    <tr>
                        <td class="label">Invoice Date :</td>
                        <td style="font-size:10px;"
                            th:text="${invoice.invoiceInfo.invoiceDate}">

                        </td>
                    </tr>

                    <tr>
                        <td class="label">Due Date :</td>
                        <td style="font-size:10px;"
                            th:text="${invoice.invoiceInfo.dueDate}">
                            15-06-2026
                        </td>
                    </tr>

                    <tr>
                        <td class="label">Joining Date :</td>
                        <td style="font-size:10px;"
                            th:text="${invoice.customerInfo.joiningDate}">

                        </td>
                    </tr>

                    <!--                    <tr>-->
                    <!--                        <td class="label">Rental Period :</td>-->
                    <!--                        <td style="font-size:10px;"-->
                    <!--                            th:text="${invoice.invoiceInfo.rentalPeriod}">-->

                    <!--                        </td>-->
                    <!--                    </tr>-->

                </table>

            </td>

        </tr>

    </table>





    <table width="100%" cellpadding="10" cellspacing="0" style="margin-bottom:40px;">

        <tr class="section-header">
            <td style="padding: 10px;">Item Detail</td>
            <td align="right" style="padding: 10px;">Amount</td>
        </tr>

        <!--unpiad invoices-->

        <tr th:if="${invoice.unpaidInvoiceInfo != null and invoice.unpaidInvoiceInfo.noOfUnpaidInvoices > 0}">
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-top:10px; padding-bottom:10px;">
                    Unpaid Invoices
                </div>

                <div class="item-description">
                    <th:block th:each="item : ${invoice.unpaidInvoiceInfo.unpaidInvoiceItems}">
                        <span th:text="${item.invoiceNumber}">INV141</span>
                        -
                        ₹ <span th:text="${item.pendingAmount}">500</span>
                        <br/>
                    </th:block>
                </div>

            </td>

            <td class="amount">
                ₹ <span th:text="${invoice.unpaidInvoiceInfo.unpaidInvoiceTotalAmount}">2600</span>
            </td>
        </tr>


        <!--eb-->


        <tr th:if="${invoice.currentMonthEbInfo != null
            and invoice.currentMonthEbInfo.currentMonthEbAmount > 0}">
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-bottom:10px;">
                    Electricity Bill
                </div>

                <div class="item-description">
                    <div th:each="eb : ${invoice.currentMonthEbInfo.ebItemsList}">
                        <!--                        <span th:text="${#dates.format(eb.fromDate,'dd/MM/yyyy')}"></span>-->
                        <!--                        - -->
                        <!--                        <span th:text="${#dates.format(eb.toDate,'dd/MM/yyyy')}"></span>-->
                        <!--                        - -->
                        ₹<span th:text="${eb.totalAmount}"></span>
                        (<span th:text="${eb.consumption}"></span> Units)
                    </div>
                </div>

            </td>

            <td class="amount">
                ₹ <span th:text="${invoice.currentMonthEbInfo.currentMonthEbAmount}">0.00</span>
            </td>
        </tr>




        <!--          Refundable Advance-->
        <tr >
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-bottom:10px;"
                     th:text="${invoice.advanceItems.label}">
                    Refundable Advance
                </div>

                <div class="item-description">

                    Total Paid ₹
                    <span th:text="${invoice.advanceItems.paidAmount}">0</span>
                    <br/>

                    <th:block th:each="item : ${invoice.advanceItems.redeemedList}">
                        <span th:text="${item.invoiceNumber}">INV-001</span>
                        -
                        ₹<span th:text="${item.redeemedAmount}">250</span>
                        <br/>
                    </th:block>

                </div>

            </td>

            <td class="amount">
                ₹ <span th:text="${invoice.advanceItems.availableAdvanceBalance}">0</span>
            </td>
        </tr>

        <!--booking -->
        <tr >
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-bottom:10px;"
                     th:text="${invoice.bookingItems.label}">
                    Refundable Bookings
                </div>

                <div class="item-description">

                    Total Paid ₹
                    <span th:text="${invoice.bookingItems.paidAmount}">0</span>
                    <br/>

                    <th:block th:each="item : ${invoice.bookingItems.redeemedList}">
                        <span th:text="${item.invoiceNumber}">INV-001</span>
                        -
                        ₹<span th:text="${item.redeemedAmount}">0</span>
                        <br/>
                    </th:block>

                </div>

            </td>

            <td class="amount">
                ₹ <span th:text="${invoice.bookingItems.availableAdvanceBalance}">0</span>
            </td>
        </tr>


        <!--rent details -->
        <tr th:if="${invoice.currentMonthRentInfo != null}">
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-bottom:10px;"
                     th:text="${invoice.currentMonthRentInfo.currentMonthPayableAmount <= 0} ?
              'Refundable Rent' :
              'Payable Rent'">

                </div>

                <div class="item-description">
                    Last Rent Paid -
                    ₹<span th:text="${invoice.currentMonthRentInfo.currentMonthPaidAmount}">0</span><br/>

                    <div th:each="rent : ${invoice.currentMonthRentInfo.listBreakup}">
                        Current Stay Days (Rent) -
                        <span th:text="${rent.noOfDays}"></span> Days -
                        ₹<span th:text="${rent.totalRent}"></span>

                        <span th:text="${rent.floorName}"></span> -
                        <span th:text="${rent.roomName}"></span> -
                        <span th:text="${rent.bedName}"></span> -
                        (<span th:text="${rent.noOfDays}"></span> days ×
                        ₹<span th:text="${rent.rentPerDay}"></span>)

                    </div>

                    <th:block th:if="${invoice.currentMonthRentInfo.currentMonthOtherItemAmount > 0}">



                        <th:block th:each="item : ${invoice.currentMonthRentInfo.listCurrentMonthOtherItems}">
                            <span th:text="${item.item}"></span>
                            -
                            ₹<span th:text="${item.amount}"></span>
                            <br/>
                        </th:block>

                    </th:block>

                </div>

            </td>

            <td class="amount">
                ₹ <span th:text="${invoice.currentMonthRentInfo.currentMonthPayableAmount}">0</span>
            </td>
        </tr>


        <!--wallet info-->
        <tr>
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-bottom:10px;" >
                    Wallet
                </div>

                <div class="item-description">


                    <div th:each="rent : ${invoice.walletInfo.walletItems}">

                        <span th:text="${rent.name}"></span> -
                        ₹<span th:text="${rent.amount}"></span><br/>


                    </div>
                </div>

            </td>

            <td class="amount" th:text="${invoice.walletInfo.totalWalletAmount}" >
                ₹ 300.00
            </td>
        </tr>

        <!--discount-->
        <tr>
            <td style="padding-bottom:10px;">

                <div class="item-title" style="padding-top: 10px; padding-bottom: 10px">
                    Discount
                </div>

                <div class="item-description" >


                </div>

            </td>

            <td class="amount" >

            </td>
        </tr>



    </table>





    <table width="40%" align="right" class="summary-table" style="margin-bottom:150px;">

        <tr>
            <td style="font-size: 10px;">Total Refundable</td>
            <td   align="right" style="font-size: 10px;" th:text="${invoice.invoiceInfo.subTotal}">₹ 999.00</td>
        </tr>

        <tr>
            <td style="font-size: 10px;" >Tax GST (0%)</td>
            <td align="right" style="font-size: 10px;" >₹ 00.00</td>
        </tr>

        <tr>
            <td style="font-size: 10px;">Deductions Non Refundable</td>
            <td align="right" style="font-size: 10px;" th:text="${invoice.invoiceInfo.deductionAmount}" >₹ 5225.25</td>
        </tr>

        <tr>
            <td style="font-size: 10px;">Unpaid Invoices</td>
            <td align="right" style="font-size: 10px;" th:text="${invoice.invoiceInfo.unpaidInvoiceAmount}">₹ 79.33</td>
        </tr>

        <tr>
            <td style="font-size: 10px;">Payable Rent</td>
            <td align="right" style="font-size: 10px;" >₹ 79.33</td>
        </tr>
        <tr>
            <td style="font-size: 10px;">Wallet</td>
            <td align="right" style="font-size: 10px;" th:text="${invoice.walletInfo.totalWalletAmount}" >₹ 79.33</td>
        </tr>

        <tr>
            <td style="font-size: 10px;">Discount</td>
            <td align="right" style="font-size: 10px;" >₹ 79.33</td>
        </tr>

        <tr>
            <td style="font-size: 10px;">Electricity Bill</td>
            <td align="right" style="font-size: 10px;"  th:text="${invoice.invoiceInfo.electricityAmount}" >₹ 79.33</td>
        </tr>

        <tr class="total-row">
            <td style="font-size: 10px;">Total</td>
            <td align="right" style="font-size: 10px;" th:text="${invoice.invoiceInfo.finalAmount}" >₹ 1078.33</td>
        </tr>

    </table >





    <!--account details-->

    <table width="100%" style="margin-top:350px;">

        <tr>

            <td width="60%" valign="top">

                <h4 style="font-size: 10px;">ACCOUNT DETAILS</h4>

                <br/>



                <div style="padding-bottom:5px;font-size: 10px;">
                    Account No :
                    <!--                    <span th:text="${invoice.accountNo}">-->
                    <!--                    </span>-->
                </div>

                <div style="padding-bottom:5px;font-size: 10px;">
                    IFSC :
                    <!--                    <span th:text="${invoice.ifscCode}">-->
                    <!--                    </span>-->
                </div>

                <div style="padding-bottom:5px;font-size: 10px;">
                    Bank Name :
                    <!--                    <span th:text="${invoice.bankName}">-->
                    <!--                    </span>-->
                </div>

                <div style="padding-bottom:5px;font-size: 10px;">
                    UPI :
                    <!--                    <span th:text="${invoice.upiId}">-->
                    <!--                    </span>-->
                </div>

            </td>

            <td width="40%" align="center">

                <img class="qr-code"
                     th:if="${invoice.configInfo.qrCode != null}"
                     th:src="${invoice.configInfo.qrCode}"
                     alt="QR">

                <div style="padding-top:5px;font-size: 10px; ">
                    Scan QR for Payment
                </div>

            </td>

        </tr>

    </table >



    <table width="100%" style="margin-bottom:10px;">

        <tr>

            <td width="50%">

                <img class="signature"
                     th:if="${invoice.configInfo.signature != null}"
                     th:src="${invoice.configInfo.signature}"
                     alt="Signature">

                <div style="font-size: 10px;">
                    Authorized Signature
                </div>

            </td>

            <td width="50%" align="right">

                <div style="padding-bottom:5px;font-size:10px;">
                    <div>
                        Status :
                        <span
                                th:text="${invoice.invoiceInfo.status}"
                                th:style="${
                invoice.invoiceInfo.status == 'PENDING' ? 'color:#F59E0B;' :
                invoice.invoiceInfo.status == 'PAID' ? 'color:#038C3D;' :
                invoice.invoiceInfo.status == 'OVERDUE' ? 'color:#DC2626;' :
                'color:#6B7280;'
            }">
            Paid
        </span>
                    </div>
                </div>
                <div style="padding-bottom:5px;font-size: 10px;">Thanks for the business.</div>
                <div style="padding-bottom:5px;font-size: 10px;"></div>

            </td>

        </tr>

    </table>

</div>

<div class="terms">

    <div>T &amp; C :</div>

    <span th:text="${invoice.configInfo.termsAndCondition}">
    </span>

</div>

</body>
</html>